a, a:visited {
    text-decoration: none;
    color: #c2410c;
}

a:hover {
    color: #ff6300;
}

header h1 {
    font-weight: normal;
    margin: 0 0 .5em;
}

header h2 {
    font-weight: normal;
    margin: 0;
}

header img#photo {
    max-height: 150px; 
    border-radius: 150px;
}

footer {
    text-align: right;
}
