a, a:visited {
    text-decoration: none;
    color: rgb(194, 65, 12);
}

header h1 {
    font-weight: normal;
    margin: 0 0 .5em;
}

header h2 {
    font-weight: normal;
    margin: 0;
}

header img#photo {
    max-height: 150px; 
    border-radius: 150px;
}

footer {
    text-align: right;
}
